beautifulsoup4
bokeh
elasticsearch
finance-datareader
finnhub-python
ipython-sql
jupyterlab
matplotlib
mysqlclient
pandas
pandas-datareader
plotly
pyhive[presto]
pymysql
sqlalchemy
tqdm
yahoo_earnings_calendar
yfinance