beautifulsoup4
bokeh
elasticsearch
finance-datareader
finnhub-python
html5lib
ipython-sql
jupyterlab
lxml
matplotlib
mysqlclient
pandas
pandas-datareader
plotly
pyhive[presto]
pymysql
sqlalchemy
tqdm
yahoo_earnings_calendar
yfinance